

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header custom-header"><span class="fa fa-list-alt"></span> States</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="fa fa-list-alt"></span>  List Of States
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-states">
                  <thead>
                      <tr class="blueHeader">
                          <th class="blueBorder">Name</th>
                          <th class="fit blueBorder">Lang</th>
                          <th class="blueBorder">State Url</th>
                          <th class="blueBorder">Path</th>
                          <th class="blueBorder">Id</th>
                          <th class="fit blueBorder">Type</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of states.states let i = index;  let odd=odd; let even=even"
                      [ngClass]="{'info': item.lang=='en'}">
                          <td>{{item.title}}</td>
                          <td (click)="showDetails(item)">
                            <span *ngIf='item.lang=="en"'>   English   </span>
                            <span *ngIf='item.lang=="es"'>   Spanish   </span>
                          </td>
                          <td (click)="showDetails(item)">{{item.stateurl}}</td>
                          <td (click)="showDetails(item)">{{item.path}}</td>
                          <td (click)="showDetails(item)">{{item.id}}</td>
                          <td (click)="showDetails(item)">{{item.marketplacetype}}</td>
                      </tr>
                  </tbody>
              </table>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
